<section>
	<form name="loginform" novalidate ng-submit="login()">
		<h3>Login</h3>

		<p class="error" ng-show="message">{{ message }}</p>
		
		<input type="email" name="email" placeholder="Email" autofocus ng-model="user.email" ng-required="true">
		
		<p class="error" ng-show="loginform.email.$invalid && loginform.email.$touched">
			Please enter a valid email address.
		</p>
		
		<span class="input input-hoshi">

		<input  type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">

		</span>
		<p class="error" ng-show="loginform.password.$invalid && loginform.password.$touched">
			Please enter a password.
		</p>

		<button ng-disabled="loginform.$invalid" type="submit">Login</button>
	</form>
</section>
